<article class="listing" {{action "display"}} role="button">
  <div class="details">
    <div class="Register Number">
      <span>Register Number:</span> {{this.student.registration}}
    </div>
    <div class="First Name">
      <span>First Name:</span> {{this.student.first}}
    </div>
    <div class="Last Name">
      <span>Last Name:</span> {{this.student.last}}
    </div>
    <div class="Phone Number">
      <span>Phone Number:</span> {{this.student.phone}}
    </div>
    <div class="Year">
      <span>Year:</span> {{this.student.year}}
    </div>
    <div class="City">
      <span>City:</span> {{this.student.city}}
    </div>
  </div>
</article>
